.products-container{
 margin-top: 10px;
}

.products-filter{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.form-check{
    width: 20%;
}

@media only screen and (max-width: 1111px) {
    .products-filter{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}
