/* .navbar-container{
    width: 100vw;
}

.navbar-list{
    list-style: none;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgb(11, 9, 9);
    height: 5.5vh;
    margin: 0;
    padding: 0;
}
.navbar-list-item{
    color: aliceblue;
    font-size: small;
}

#logout:hover{
    cursor: pointer;
}

#icon{
    color: aliceblue;
    font-size: large;
}

@media only screen and (min-width: 1200px) {
    .navbar-list-item{
        color: aliceblue;
        font-size: larger;
    }
    #icon{
        color: aliceblue;
        font-size: x-large;
    }
} */

.button{
    margin: auto;
    color: #fff;
}

.button:hover{
    cursor: pointer;
}

@media only screen and (min-width: 1200px) {

    .custom{
        border-radius: 50%;
        height: 6vh;
        width: 6vh;
    }

    .custom2{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}

@media only screen and (max-width: 992px) {
    .button{
        margin-left: 2px !important;
        color:#fff
    }

    .custom{
        border-radius: 50%;
        height: 5vh;
        width: 5vh;
    }
}
