.cart-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.button-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.cards{
    width: 25vw;
    margin-top: 1%;
    margin-left: 0;
    margin-right: 0;
}

.checkout-button{
    text-decoration: none;
    color: #198754;
}

.checkout-button:hover{
    color: #fff;
}

@media only screen and (max-width: 600px) {
    .cards{
        width: 85vw;
        margin-top: 5%;
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (min-width: 600px) {
    .cards{
        width: 35vw;
    }
}

@media only screen and (min-width: 992px) {
    .cart-list{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .button-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    
    }
    
    .cards{
        width: 26vw;
        margin-top: 1%;
        margin-left: 0;
        margin-right: 0;
    }



}